/ProgramaPila/ProgramaPila/nbproject/private/
/ProgramaPila/JavaApplication1test/nbproject/private/
/ProgramaPila/JavaApplication1test/build/
/ProgramaPila/AplicacionPila/nbproject/private/
/ProgramaPila/AplicacionPila/build/